export FLASK_APP=covid_notifier.app:notifier_app
export FLASK_ENV=development

export COVID_ALLOW_REGISTRATION=true
export COVID_SECRET_KEY=<SECRET_KEY_HERE>

export COVID_SQLALCHEMY_DATABASE_URI=<DB_URI_HERE>
export COVID_SQLALCHEMY_TRACK_MODIFICATIONS=false

export COVID_TWILIO_ACCOUNT_SID='<API_ACCOUNT_SID_HERE>'
export COVID_TWILIO_AUTH_TOKEN='<API_AUTH_TOKEN_HERE>'
export COVID_TWILIO_MESSAGING_SERVICE='<API_MESSAGING_SERVICE_SID_HERE>'
