export PUSHOVER_API_TOKEN='<API_TOKEN_HERE>'
export PUSHOVER_USER_KEY='<API_USER_KEY_HERE>'
export TWILIO_ACCOUNT_SID='<API_ACCOUNT_SID_HERE>'
export TWILIO_AUTH_TOKEN='<API_AUTH_TOKEN_HERE>'
export TWILIO_MESSAGING_SERVICE='<API_MESSAGING_SERVICE_SID_HERE>'

