<html>
    <head>
        <title>State Dashboard</title>
    </head>
    <body>
        <h1>Regions</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Abbr</th>
                <th>Entry Count</th>
            </thead>
            <tbody>
            {% for region in regions %}
                <tr>
                    <td><a href="{{ url_for('region_dashboard', region_id=region.id) }}">{{ region.name_label }}</a></td>
                    <td>{{ region.name_abbr }}</td>
                    <td>{{ region.entries | length }}</td>
                </tr>
            {% else %}
                <tr><td colspan=4>No Regions available</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>

