<html>
    <head>
        {% if region.name_abbr == 'MT' %}
            <title>{{ region.name_label }} Dashboard</title>
        {% else %}
            <title>{{ region.name_label }} County Dashboard</title>
        {% endif %}
    </head>
    <body>
        {% if region.name_abbr == 'MT' %}
            <h1>{{ region.name_label }}</h1>
        {% else %}
            <h1>{{ region.name_label }} County</h1>
        {% endif %}
        <table>
            <thead>
                <th>Date</th>
                <th>New Cases</th>
                <th>Total Active</th>
                <th>Hospitalized</th>
                <th>Total Cases</th>
                <th>Total Recovered</th>
                <th>Total Deaths</th>
            </thead>
            <tbody>
            {% for entry in region.entries | sort(reverse=true, attribute='date') %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.new_case }}</td>
                    <td>{{ entry.total_active }}</td>
                    <td>{{ entry.hospitalization_count }}</td>
                    <td>{{ entry.total }}</td>
                    <td>{{ entry.total_recovered }}</td>
                    <td>{{ entry.total_deaths }}</td>
            {% else %}
                <tr><td colspan=7>No entries recorded</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>


