FLASK_APP=covid_notifier.app:notifier_app
FLASK_ENV=development

COVID_ALLOW_REGISTRATION=true
COVID_SECRET_KEY="1234567890qwertyuiopasdfghjklzxcvbnm"

COVID_DATABASE_USER="covid"
COVID_DATABASE_PW="covid-pw"
COVID_DATABASE_NAME="covid"
COVID_DATABASE_HOST="db"
COVID_SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://${COVID_DATABASE_USER}:${COVID_DATABASE_PW}@${COVID_DATABASE_HOST}:5432/${COVID_DATABASE_NAME}"

COVID_SQLALCHEMY_TRACK_MODIFICATIONS=false
COVID_PROPAGATE_EXCEPTIONS=true

COVID_TWILIO_ACCOUNT_SID='AC1373cf4a6aebaecea159186056b09c1a'
COVID_TWILIO_AUTH_TOKEN='c54929b760b14354858058eeae70f30b'
COVID_TWILIO_MESSAGING_SERVICE='MGba591e03c1221a3827fb04ceb1bd26cd'
